{% extends 'index.html' %}

{% block body %}
<form action="view.php" method="get">
    <input type="hidden" name="action" value="rebuild-shards"/>
    <input type="hidden" name="storage" value="{{ storage|url_encode }}"/>
    <input class="btn btn-secondary btn-sm" onclick="history.back()" type="button" value="Back"/>
    <input class="form-control mr-sm-2" type="number" min="0" max="32" name="depth" value="2"/>
    <input class="btn btn-primary btn-sm" type="submit" value="Rebuild"/>
</form>
{% if success != null %}
    {% if success %}
    <div class="alert alert-success" role="alert">
        Done.
    </div>
    {% else %}
    <div class="alert alert-danger" role="alert">
        An error occurred while rebuilding shards.
    </div>
    {% endif %}
{% endif %}
{% endblock body %}
